html {
    font-family: 'Raleway', 'Roboto', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.section-header {
    font-weight: 500;
}

#login, #register {
    padding: 3em 4em 3em 4em;
}

.col-content {
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 5px;
}

br {
    margin-bottom: 6px;
}
