html {
    font-family: 'Raleway', 'Roboto', sans-serif;
}

#home-banner {
    font-weight: 600;
}

#login {
    padding: 3em 4em 3em 4em;
}

.col-content {
    font-weight: 500;
    font-style: italic;
    padding-top: 3px;
    padding-bottom: 5px;
}
